@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Open+Sans&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Titillium+Web&display=swap');

font-family: 'Bubblegum Sans', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Titillium Web', sans-serif;

#content {
    margin: auto;
    width: 50%;
  }

#circles {
    background-color: #737373;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
#img {
  border-radius: 50%;
  width: 50%;
  height: auto;
  border: 12px solid #3a3a3a;
}