<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="styles/style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <title>Interviews Agenda</title>
</head>

<body>
    <header>
        <a href="/" id="logo_link">
            <img class="logo" src="images/logo.png" alt="Inteviews Agenda logo">
        </a>
        <nav>
            <a href="/">Home</a>
            <a onclick="login()">Scheduler</a>
            <a href="/guidelines">Guidelines</a>
        </nav>
    </header>

    <main>
        <div id="bkg-box">
        </div>

        <div class="logotype">
            <img class="logotype" src="images/logoAgenda.png" alt="Inteviews Agenda logo">
        </div>

        <div class="intro">
            <p>See the table below to know the next interviews and what member of the bishopric will be the interviewer.</p>
            <p>If you are an executive secretary. and want to add a new appointment, click on the "Add Appointment" button. </p>
        </div>

        <section id="title">
            <h1>Next Appointments</h1>
        </section>

        <div id="button"><button class="button" onclick="login()">Add appointment</button></div>
        <div id="table">
            <table class="tg" style="table-layout: fixed; width: 714px">
                <colgroup>
                <col style="width: 131px">
                <col style="width: 201px">
                <col style="width: 178px">
                <col style="width: 122px">
                <col style="width: 41px">
                <col style="width: 41px">
                </colgroup>
                <thead>
                  <tr>
                    <th class="tg-wl7y">INTERVIEWER</th>
                    <th class="tg-wl7y">DATE</th>
                    <th class="tg-wl7y">NAME</th>
                    <th class="tg-wl7y">REASON</th>
                    <th class="tg-wl7y"></th>
                    <th class="tg-wl7y"></th>
                  </tr>
                </thead>
                <tbody>
                  @each(appt in appts)
                    @if(appt == '')
                      <tr><h2 class="text-center text-secondary mt-5">No appointments at this moment</h2></tr>
                    @else
                      <tr>
                        <td>{{appt.interviewer}}</td>
                        <td>{{appt.date}}</td>
                        <td>{{appt.name}}</td>
                        <td>{{appt.reason}}</td>
                        <td>
                            <a href="/update_appt_{{appt.id}}" class="fas fa-pencil-alt"></a>
                        </td>
                        <td>
                          <a href="/delete_{{appt.id}}" class="fas fa-times"></a>
                        </td>
                      </tr>
                    @endif
                  @endeach
                </tbody>
            </table>
        </div>

    </main>

    <div id="id01" class="modal">

      <form class="modal-content animate">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <div>Please login to enter the scheduler</div>
        </div>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" id="name" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" id="pass" required>

          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
          <button type="button" onclick="goToScheduler()" id="btnLogin">Login</button>
        </div>
      </form>
    </div>

    <footer>
        <p id="info">Interviews Agenda &copy; 2022 - Angel Solano</p>
        <h3><a href="/site_plan">Site Plan</a></h3>
    </footer>
    <!-- <div id="welcomeDiv" > WELCOME</div> -->

    <script src="scripts/script.js"></script>
</body>

</html>
